.about__container { 
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}

.about__me {
  margin-left: 12rem;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.anchor__card {
  color: white;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 3px;
  background-color: var(--color-bg-variant);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
}

.about__card:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: pointer;
}

.about__card h5 {
  font-size: 0.95rem;
}
.about__card small {
  font-size: 0.7rem;
  color: var(--color-light);
}

.about__content p {
  margin: 2rem 0 2.6rem;
}

.desc__container {
  margin-top: 2rem;
}

.desc__container > p {
  margin-top: 0.5rem;
}

@media screen and (max-width: 1606px) {
  .about__me {
    display: flex;
    margin-left: 0rem;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1445px) {
  .about__container {
    padding-bottom: 8rem;
    grid-template-columns: 1fr;
    gap: 8%;
  }
}

/* RESPONSIVE MEDIA QUERIES (TABLET SIZE) */

@media screen and (max-width: 1024px) {
  .about__me {
    display: flex;
    margin-left: 0rem;
    justify-content: center;
    align-items: center;
  }
}

/* RESPONSIVE MEDIA QUERIES (PHONE SIZE) */

@media screen and (max-width: 600px) {
  
  .about__container {
    padding-bottom: 4rem;
    gap: 3%;
  }

  .about__cards {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about__content {
    padding-top: -10rem;
    text-align: center;
    margin: 0 2rem 0;
  }

  .desc__container > p{
    font-size: small;
  }
}

/* RESPONSIVE MEDIA QUERIES (PHONE SIZE) */

@media screen and (max-width: 500px) {
  .about__me-image{
    scale: 0.8;
  }

  .about__cards {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about__card {
    gap: 1px;
    padding: 1rem;
  }
}




/* ANIMATION */
.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #C8D9C1 0%,
    #A1C7BD 29%,
    #365F73 67%,
    #EBEBEB 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
