@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #010811 !important;
  }

/* dape name */
.dape-name
{
  background-image: linear-gradient(
    -225deg,
    #195977 0%,
    #CCD2DA 29%,
    #ff1361 67%,
    #011133 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-emphasis-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.home-container {
  width: 100%;
  max-width: 100%;
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

/* Media query for larger screens (e.g., tablets) */
@media (min-width: 768px) {
  .responsive-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
  }
}

/* Media query for even larger screens (e.g., desktops) */
@media (min-width: 1024px) {
  .responsive-container {
    width: 90%;
  }
}